/* Estilos Generales */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

/* Contenedor Principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Navbar */
#navbar {
    background-color: #0c81ff;
    color: #f50000;
    padding: 15px 0;
}
 /* Contenido dentro del navbar */

#navbar a {
    color: #000000;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
}
 /* Marcado de texto dentro el Navbar */

#navbar a:hover {
    background-color: #0064fa9f;
    border-radius: 4px;
}

/* Imágenes */
#images {
    padding: 40px 0;
}

#images img {
    width: 50%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.img-fluid {
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}


#images img:hover {
    transform: scale(1.05);
}
